<!-- content-->
<div class="container">
    <div class="page-inner">
        <!--Table-->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header row">
                    <div th:replace="admin/statistical/component/menu.html"></div>
                    <div class="card-title" >Thống kê doanh thu năm <span th:text="${year}"></span>
<!--                        <div style="display: flex">-->
<!--                            <select id="status" class="form-control">-->
<!--                                <option th:each="iyear: ${allYear}" th:value="${iyear}" th:text="${iyear}"></option>-->
<!--                            </select>-->
<!--                        </div>-->
                    </div>


                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <div th:replace="/admin/statistical/component/revenue/chart.html"></div>
                    </div>
                </div>

                <div th:replace="/admin/statistical/component/revenue/table.html"></div>

                <div th:replace="/admin/statistical/component/revenue/report.html"></div>
            </div>
        </div>
        <!--End table-->
    </div>
</div>

</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var year = /*[[${year}]]*/[];
    let status = document.getElementById("status");
    status.value=year
    status.addEventListener("change", function() {
        var selectedYear = this.value;
        if (selectedYear != year){
            var url = "/admin/statistical-revenue/year/" + selectedYear;
            window.location.href = url;
        }
    });
    /*]]>*/
</script>


