
  <!-- Sidebar -->
  <div class="sidebar" data-background-color="dark"  th:fragment="sidebar">
    <div class="sidebar-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">
        <a href="index.html" class="logo">
          <img  th:src="@{/img/logo_light.svg}" alt="navbar brand" class="navbar-brand" height="20" />
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-secondary">

          <!-- thống kê -->
          <li class="nav-item" id="li-dashboard">
            <a th:href="@{/admin}" class="collapsed" aria-expanded="false">
              <i class="fas fa-home"></i>
              <p>Thống kê</p>
            </a>
          </li>

          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Quản lý</h4>
          </li>

          <!-- Quản lý tour -->
          <li class="nav-item" id="li-tour">
            <a  th:href="@{/admin/tour}">
              <i class="fas fa-layer-group"></i>
              <p>Quản lý tour</p>
            </a>
          </li>

          <!-- Quản lý danh mục -->
          <li class="nav-item" id="li-category">
            <a  th:href="@{/admin/category}">
              <i class="fas fa-th-list"></i>
              <p>Quản lý danh mục</p>
            </a>
          </li>

          <!-- Quản lý khuyến mãi -->
          <li class="nav-item" id="li-promotion">
            <a  th:href="@{/admin/promotion}">
              <i class="fas fa-pen-square"></i>
              <p>Quản lý khuyến mãi</p>
            </a>
          </li>

          <!-- Quản lý phương tiện di chuyển -->
          <li class="nav-item" id="li-transport">
            <a  th:href="@{/admin/transport}">
              <i class="fas fa-paper-plane"></i>
              <p>Quản lý phương tiện</p>
            </a>
          </li>

          <!-- Quản lý đặt chổ -->
          <li class="nav-item" id="li-reserve">
            <a th:href="@{/admin/reserve}">
              <i class="fas fa-map-marker-alt"></i>
              <p>Quản lý đặt chổ</p>
            </a>
          </li>

          <!-- Quản lý nhân viên -->
          <li class="nav-item" id="li-employee">
            <a  th:href="@{/admin/employee}">
              <i class="fas fa-user"></i>
              <p>Quản lý nhân viên</p>
            </a>
          </li>

          <!-- Quản lý khách hàng -->
          <li class="nav-item" id="li-customer">
            <a  th:href="@{/admin/customer}">
              <i class="fa fa-users"></i>
              <p>Quản lý khách hàng</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const liDashboard = document.getElementById('li-dashboard');
    const liTour = document.getElementById('li-tour');
    const liCategory= document.getElementById('li-category');
    const liPromotion= document.getElementById('li-promotion');
    const liTransport= document.getElementById('li-transport');
    const liEmployee= document.getElementById('li-employee');
    const liCustomer= document.getElementById('li-customer');


    // Lấy đường dẫn hiện tại
    const path = window.location.pathname;
   if (path==="/admin") {
     liDashboard.classList.add("active");
   } else if (path.includes("tour")) {
     liTour.classList.add("active");
     console.log("Có vào tour")
   } else if (path.includes("category")) {
     liCategory.classList.add("active");
   } else if (path.includes("promotion")) {
     liPromotion.classList.add("active");
   } else if (path.includes("transport")) {
     liTransport.classList.add("active");
   } else if (path.includes("employee")) {
     liEmployee.classList.add("active");
   } else if (path.includes("customer")) {
     liCustomer.classList.add("active");
   }



  })
</script>
  </div>
  <!-- End Sidebar -->

