
  <!-- Footer -->
  <div th:fragment="footer_bottom">
    <footer class="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-6 block">
                <h4>Liên hệ</h4>
                <div class="contact-info">
                  <div class="menu-item"><a href="/du-divch/cao-cap">Số 147 Mai Dịch, Cầu Giấy, Hà Nội</a></div>
                  <div class="menu-item"><a href="/du-divch/tieu-chuan">0242 2420 777</a></div>
                  <div class="menu-item"><a href="/du-divch/tiet-kiem">0987654321</a></div>
                  <div class="menu-item"><a href="/du-divch/gia-tot">info@webtravel.vn</a></div> 
                </div>
              </div>
              <div class="col-md-3 col-6 block">
                <h4>Dòng tour</h4>
                <ul class="menu">
                  <li class="menu-item"><a href="/du-lich/cao-cap">Cao cấp</a></li>
                  <li class="menu-item"><a href="/du-lich/tieu-chuan">Tiêu chuẩn</a></li>
                  <li class="menu-item"><a href="/du-lich/tiet-kiem">Tiết kiệm</a></li>
                  <li class="menu-item"><a href="/du-lich/gia-tot">Giá tốt</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-6 block">
                <h4>Thông tin</h4>
                <ul class="menu">
                  <li class="menu-item"><a href="/phuong-thuc-thanh-toan">Phương thức thanh toán</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-6 block contact-block">
    
                <h4>Mạng xã hội</h4>
                <ul class="socials">
                  <li class="social">
                    <a target="_blank" rel="nofollow noreferrer"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li class="social">
                    <a target="_blank" rel="nofollow noreferrer"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li class="social">
                    <a target="_blank" rel="nofollow noreferrer"><i class="fab fa-viber"></i></a>
                  </li>
                  <li class="social">
                    <a target="_blank" rel="nofollow noreferrer"><i class="fab fa-youtube"></i></a>
                  </li>
                </ul>
                <div class="call-action">
                  <a href="tel:0242 2420 777"><i class="fa-light fa-phone"></i>0242 2420 777</a>
                </div>
                <p class="time">Từ 8:00 - 22:00 hàng ngày</p>
    
              </div>
    
              <div class="col-md-12 col-12 block">
                <div class="securi-payment row">
                  <div class="securi col-md-5">
                    <h4>Newsletter</h4>
                    <div class="newsletter_form">
                      <form action="Subscribe/Send" class="email-marketing" method="post" id="email-marketing" novalidate="novalidate">
                        <input class="input_email" type="text" name="Email" placeholder="Email của Quý khách">
                        
                        <button type="button" class="button-send-email"  ><i class="fa-regular fa-paper-plane"></i></button>
                
                      </form>
                    </div>
    
    
                  </div>
                  <div class="payment col-md-7">
                    <h4>Chấp nhận thanh toán</h4>
                    <img class="pay_image-paypal" src="/admin/images/paypal.png" alt="image">
                    <img class="pay_image-vnpay" src="/admin/images/vnpay.png" alt="image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-12">
                <div class="copy-right text-center">
                  <p>
                    Copyright © Tiger Travel. 2022 All Rights Reserved <br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
  </div>
