<!-- Header -->2e
<div th:fragment="header_nav" class="header">
	<link th:href="@{/client/css/header.css}" rel="stylesheet" />
  <div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href="/" class="logo m-0">Tour <span class="text-primary">.</span></a>

				<ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
					<li class="active"><a href="/tour">Tour</a></li>
					
					<li sec:authorize="isAuthenticated()" class="has-children" >
						<a href="#">
							<i id="login_icon" class="fa fa-user"></i>
						</a>
						<ul class="dropdown">
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Admin</a></li>
							<li><a href="/account-info">Thông tin cá nhân</a></li>
							<li><form method="post" action="/logout">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<button class="dropdown-item">Đăng xuất</button>
							</form></li>
						</ul>
					</li>

					<li sec:authorize="isAnonymous()">
						<a th:href="@{/login}">Đăng nhập</a>
					</li>
				</ul>

				<a href="#"
					class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light"
					data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>

			</div>
		</div>
	</nav>
</div>