<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/client/home-page.css">
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <script src="https://use.fontawesome.com/releases/v6.6.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- header -->
  <div th:replace="client/layout/header :: header_nav"></div>
  <div class="content">
    List tour
  </div>
  <!--  footer -->
  <div th:replace="client/layout/footer :: footer_bottom"></div>
</body>

</html>