.header {
    background-color: #ffffff;
    width: 100%;
    margin: 0;
}
a {
    text-decoration: none;
  }
  
.navbar-collapse {
    color: #2D4271;
    display: flex;
    margin-left: 130px;
    font-size: 17px;
}
.container_nav{
    padding: 0 130px;
    background-color: #F8F9FA;
}
@media (max-width: 768px) {
    .container_nav {
        padding: 0;
    }
    .navbar-collapse{
        display: flex;
        flex-direction: column;
        justify-content: right;
        margin: 0;
    }
    .navbar_link-itmes{
      display: flex;
      flex-direction: column;
    }
    .links{
        display: flex;
        flex-direction: column;
    }
    .search_logo{
        width: 100%;
        display: flex;
    }
    #email-marketing{
        border: none;
        padding: 10px;
        width: 100%;
       display: flex;
       justify-content: space-between;
       padding: 0;
    }
    .input_email{
        width: 100%;
        background-color: #F8F9FA;
    }
    .newsletter_form{
        padding: 10px;
        width: 100%;
        border: 1px solid #2D4271;
        border-radius: 10px;
    }
    .nav-link ul {
        display: block;
      }
    
}
.footer {
    font-size: 15px;
    color: #2D4271;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F8F9FA;
    padding: 30px 0;
}

.menu-item a {
    text-decoration: none;
    color: #2D4271;
}

.menu-item {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

.copy-right {
    margin-top: 50px;
}

.menu {
    margin: 0;
    padding: 0;
}

.call-action a {
    color: #2D4271;
}

.navbar-brand {
    color: #0e40ac;
    font-weight: bold;
}

.time {
    margin-top: 10px;
}

.securi-payment {
    padding-top: 50px;
}

.socials {
    display: flex;
    margin: 0;
    padding: 0;
}

.social {
    margin-right: 15px;
}

.logo_image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.nav-link {
    /* margin-left: 50px; */
}

.navbar_link-itmes{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.links{
    display: flex;
}
.links .nav-item{
    margin-right: 55px;
}
.pay_image-paypal {
    height: 40px;
    width: 80px;
    margin-right: 30px;
}

.pay_image-vnpay {
    height: 40px;
    width: 65px;
}

.button-send-email {
    margin: 0;
    border: none;
    background-color: #2D4271;
    color: #F8F9FA;
    border-radius: 10px;
}
.search_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_email {
    border: none;
    margin-right: 10px;
    background-color: #F8F9FA;
}

.email-marketing {
    padding: 10px;
    width: 47%;
    margin: 0;
    border: 1px solid #2D4271;
    border-radius: 10px;
}

.login-home {
    margin-left: 30px;
    text-decoration: none;
    color: #2D4271;
}

.admin_logo {
    color: #2D4271;
}

.content {
    margin: 30px 130px;
}