<canvas id="multipleBarChart"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript" src="jscript/graph.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    let TotalAdult = /*[[${TotalAdult}]]*/[];
    // let AllTotalAdult = /*[[${AllTotalAdult}]]*/[];
    // alert(AllTotalAdult)
    let TotalChildren = /*[[${TotalChildren}]]*/[];
    var labels = /*[[${labels}]]*/[];


    multipleBarChart = document.getElementById("multipleBarChart").getContext("2d")
    var myMultipleBarChart = new Chart(multipleBarChart, {
        type: "bar",
        data: {
            labels: labels,
            datasets: [
                {
                    label: "TotalAdult",
                    backgroundColor: "#59d05d",
                    borderColor: "#59d05d",
                    data: TotalAdult,
                },
                {
                    label: "TotalChildren",
                    backgroundColor: "#fdaf4b",
                    borderColor: "#fdaf4b",
                    data: TotalChildren,
                },

            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: "bottom",
            },
            title: {
                display: true,
                text: "",
            },
            tooltips: {
                mode: "index",
                intersect: false,
            },
            responsive: true,
            scales: {
                xAxes: [
                    {
                        stacked: true,
                    },
                ],
                yAxes: [
                    {
                        stacked: true,
                    },
                ],
            },
        },
    });

    /*]]>*/
</script>
