<!-- content-->
<div class="container">
    <div class="page-inner">
        <!--Table-->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header row">
                    <div class="card-title" >Thống kê số lượng khách năm <span th:text="${year}"></span>
                        <div style="display: flex">
                            <select id="status" class="form-control">
                                <option th:each="iyear: ${allYear}" th:value="${iyear}" th:text="${iyear}"></option>
                            </select>
<!--                            <select id="status" class="form-control" >-->
<!--                                <option >-->
<!--                                    <a th:href="@{/admin/statistical/year/{slug}(slug=${iyear})}"-->
<!--                                       th:each="iyear: ${allYear}"-->
<!--                                       type="button"-->
<!--                                    >-->
<!--                                        <span th:text="${iyear}"></span>-->
<!--                                    </a>-->
<!--                                </option>-->
<!--                            </select>-->

                        </div>


<!--                        <td th:each="label: ${labels}" >-->chart
<!--                            <span th:text="${label}"></span>-->
<!--                        </td>-->
                    </div>


                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="barChart">123</canvas>
                    </div>
                </div>

                <div th:replace="/admin/statistical/component/table.html"></div>

                <div th:replace="/admin/statistical/component/report.html"></div>
            </div>
        </div>
        <!--End table-->
    </div>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript" src="jscript/graph.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var data = /*[[${money_mm}]]*/[];
    var labels = /*[[${labels}]]*/[];


    let barChart = document.getElementById("barChart").getContext("2d");
    var myBarChart = new Chart(barChart, {
        type: "bar",
        data: {
            labels:labels,
            datasets: [
                {
                    label: "Sales",
                    backgroundColor: "rgb(23, 125, 255)",
                    borderColor: "rgb(23, 125, 255)",
                    data: data //[3, 2, 9, 5, 4, 6, 4, 6, 7, 8, 7, 4],
                },
            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [
                    {
                        ticks: {
                            beginAtZero: true,
                        },
                    },
                ],
            },
        },
    });
    console.log(barChart)
    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var year = /*[[${year}]]*/[];
    let status = document.getElementById("status");
    status.value=year
    status.addEventListener("change", function() {
        var selectedYear = this.value;
        if (selectedYear != year){
            var url = "/admin/statistical/year/" + selectedYear;
            window.location.href = url;
        }
    });
    /*]]>*/
</script>


