<!--<div class="col-md-12">-->

<!--</div>-->
<div class="card">
    <div class="card-header row ">
        <!--        <div class="card-title">Basic Table</div>-->
        <h4 th:text="${customer.customerName}"></h4>
        <a class="button"
            th:href="@{/personal-info/edit/{slug}(slug=${customer.customerId})}"
        >
            <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"
                 style="margin-right: 4px;">
                <path d="M8.54 0L6.987 1.56l3.46 3.48L12 3.48M0 8.52l.073 3.428L3.46 12l6.21-6.18-3.46-3.48"
                      fill="#9B9B9B" fill-rule="evenodd"></path>
            </svg>Sửa hồ sơ
        </a>
    </div>
    <div class="card-body">
        <!--        <div class="card-sub">-->
        <!--            This is the basic table view of the ready dashboard :-->
        <!--        </div>-->
        <table class="table mt-3">

            <tbody>
            <tr>
                <td class="col-2">Acount Id:</td>
                <td th:text="${customer.customerId == null ? 'Không có dữ liệu' : customer.customerId}"
                    class="col-8"
                ></td>
            </tr>
            <tr>
                <td class="col-2">relationshipName:</td>
                <td th:text="${customer.relationshipName == null ? 'Không có dữ liệu' : customer.relationshipName}"
                    class="col-8"
                ></td>
            </tr>
            <tr>
                <td class="col-2">Customer Type:</td>
                <td th:text="${customer.customerType == null ? 'Không có dữ liệu' : customer.customerType}"
                    class="col-8"
                ></td>
            </tr>
            <tr>
                <td class="col-2">Địa chỉ Email:</td>
                <td th:text="${customer.email == null ? 'Không có dữ liệu' : customer.email}"
                    class="col-8"
                ></td>
            </tr>
            <tr>
                <td class="col-2">Số điện thoại</td>
                <td th:text="${customer.phoneNumber == null ? 'Không có dữ liệu' : customer.phoneNumber}"
                    class="col-8"
                ></td>
            </tr>
            <tr>
                <td class="col-2">Giới tính</td>
                <td
                        th:text="${customer.sex == null ? 'Không có dữ liệu' : (customer.sex == 1 ? 'Nam' : 'Nữ')}"
                        class="col-8"
                ></td>
            </tr>
            <tr>
                <td class="col-2">Address</td>
                <td
                        th:text="${customer.address == null ? 'Không có dữ liệu' : customer.address}"
                        class="col-8"
                ></td>
            </tr>
            <tr>
                <td class="col-2">Birthday</td>
                <td
                        th:text="${customer.birthday == null ? 'Không có dữ liệu' : customer.birthday}"
                        class="col-8"
                ></td>
            </tr>
            <tr>
                <td class="col-2">Visa Expire</td>
                <td th:text="${customer.visaExpire == null ? 'Không có dữ liệu' : customer.visaExpire}"
                    class="col-8"

                >Null</td>
            </tr>
            <tr>
                <td class="col-2">Trạng Thái</td>
                <td th:text="${customer.status == 1 ? 'Hoạt động' : 'Khác'}"
                    class="col-8"
                ></td>
            </tr>


            <!--            <tr>-->
            <!--                <td>3</td>-->
            <!--                <td colspan="2">Larry the Bird</td>-->

            <!--            </tr>-->
            </tbody>
        </table>
    </div>
</div>

